*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
    
   
   
}


header{
    /*background-color: #171614;*/
    padding: 10px;

}

.fondo {
    height: 40rem;
    width: 100%;
    
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(5, 5, 5, 0.308)), url(../Multimedia/IMG_4791.jpg); 

}


.barra li a{
    color: #FAFAFA;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.barra li a:hover {
    transition: color 0.15s;

    color: #1FA5DF;


}

.barra li:hover {
        transition: color 0.15s;

        color: #171614;


}

.inicio{
            color: #FAFAFA;

}

.quote{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            padding: 150px 48px;

}



   



.quote-autor{
                margin-top: 30px;

}



.storyp1 {
        background-color:#FAFAFA;

}


.storyp1-texto p{
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 300;
                    font-size: 25px;
                    
                    

}

.mayuscula {

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;


}

.span{
            font-weight: 700;

}

.banerparallax1-contenedor {
    max-width: auto ;
    margin: auto;
    
}

.banner.parallax{
    
    height: 1000px;


}

.parallax.imagen1 {
        background-image: url(../Multimedia/wolf-alice-explica-la-historia-que-hay-detras-del-titulo-de-su-nuevo-album-blue-weekend.jpg);
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      

}

.parallax.imagen2 {
    background-image: url(../Multimedia/Wolf-Alice-4.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}

.parallax.imagen3 {
    background-image: url(../Multimedia/Wolf-Alice-Brixton-260915-20150926-Emma-Swann-2486.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}

.parallax.imagen4 {
    background-image: url(../Multimedia/Wolf-Alice-Cover.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}

.footer{
    background-color: #171614;

}

.footer p {
font-family: 'Josefin Sans', sans-serif;
font-size: 40x;
margin-top: 150px;
color: #FAFAFA;

}

.footer i {
font-size: 40px;
color: #FAFAFA;
text-align: center;



}

.footer i:hover{
        color: #1FA5DF;

}
/*


.contenido{
                        height: 5000px;

}
header 
.header {
            
            width: 100%;
            height: 300px; 
            padding: 30px;
            background-color: #171614;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
               
}

.logo {
            text-align:center;
            
            
            
            
}
.logo img {
            width: 60%;
            
}

.barra {
            display: flex;
            flex-direction: row;
    

    
    
}


.barra div {
                
                text-decoration: none;
                margin: 10px;
                padding: 10px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 300;
                font-size: 20px;
                color:#FAFAFA;
                
                

}


.barra div a{
   
    color: #FAFAFA;
    text-decoration: none;
    
   
}
.barra div a:hover{ 
                        color: #1FA5DF;
                        border-color:#1FA5DF;
                        text-decoration: underline;
                        transition: all 0.15s;

}

#paginaactual {
                color: #1FA5DF;

}




.intro {
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 300;
                font-size: 32px;
                height: 1000px;
                padding: 0px 0px 0px 50px;
                width: 100%;
                color: #FAFAFA;
                background-color: #171614;
              
                
}


.intro p {
                
                padding: 30px 30px;
                
                

}

.intro-imagen {
                height: 30%;
                width: 100%;
                background-image: url(../Multimedia/IMG_4791.jpg);
                background-position: center;
                background-size:cover;
                background-repeat: no-repeat;
                background-attachment: fixed;

                
               

}






            

#inicios-imagen{
        padding: 30px;
        width: 100%;
}

.inicios-imagen {
                width: 50%;
                float: left;

}

.texto2 {
                float: right;
                text-align: justify;
                
                width: 50%;
                padding: 30px 30px;
}

.texto2 p {
                padding: 30px 30px;

}

.members {
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 300;
                    font-size: 32px;
                    height: 1500px;
                    padding: 50px 0px 0px 50px;
                    
                    width: 100%;
                    color: #FAFAFA;
                    background-color: #171614;

}

footer {
    min-height: 200px;
    width: 100%;
    background-color: #171614;
    text-align: center;
    position: relative;

}
footer p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40x;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 0px;
    right: 0px;
    margin: auto;
   
    color: #FAFAFA;

}

footer i {
    font-size: 40px;
    color: #FAFAFA;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 1px;
    border-radius: 100%;
    
}

footer i:hover{
            color:#1FA5DF;
            border-color:#1FA5DF;


}

@media only screen and (min-width: 480px) {

* {
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
    
    }
    
    .contenido {
                   
        
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    
    
    }
    
    .barra{ 
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-around;
            
    }
    


    .intro{
        width: 100%;
        height: 1000px; 
        padding: 30px;
        background-color: #171614;
        display: flex;
        flex-direction: column;
        align-items: center;
        
                            

    }

    .intro h1{

                            font-size: 30px;
                            text-align: center;
    }

    .intro-texto{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            height: auto;
                            width: 100%;
                            text-align: center;
                            font-size: 20px;
    }



    }
    */

    @media only screen and (min-width: 0px) and (max-width: 1000px){
        .quote{
            
            padding: 0px;

}
}


            
            


