* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* HEADER */
header {
  padding: 10px;
  background-color: #171614;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(24, 24, 24), rgba(15, 15, 15, 0.87), rgba(15, 15, 15, 0.37)), url(../Multimedia/IMG_5171.jpg);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 50px 50px 50px 50px;
  font-size: 64px;
  color: #FAFAFA;
}

.subtitulo-contact {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #FAFAFA;
  font-size: 32px;
}

.barra-item a {
  color: #FAFAFA;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.barra-item a:hover {
  transition: color 0.15s;
  color: #1FA5DF;
}

form {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding: 50px;
  margin: 100px;
  font-size: 50px;
  background-color: #FAFAFA;
  border: 0px;
  box-shadow: 0 0 17px -12px;
  border-radius: 0%;
}

input {
  padding: 10px;
  font-size: 30px;
}

.message {
  padding: 20px 0px;
}

.select-album {
  padding: 50px 0px;
  font-size: 30px;
}

label {
  color: #171614;
  padding: 10px;
  width: 500px;
  font-size: 30px;
  padding: 0px 30px 0px 30px;
}

.botones {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 50px 50px 10px 50px;
  font-size: 64px;
  color: #171614;
}

input[type=submit] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 500px;
  border-color: #FAFAFA;
  font-size: 30px;
  color: #FAFAFA;
  background-color: #171614;
}

input[type=submit]:hover {
  color: #1FA5DF;
}

.footer p {
  margin: 70px;
}
.footer a {
  margin: 50px;
}

@media only screen and (min-width: 576px) and (max-width: 1000px) {
  input[type=submit] {
    width: 250px;
  }
}
/*
.formulario{


                font-family: 'Josefin Sans', sans-serif;
                font-weight: 300;
                text-align: center;

                font-size: 64px;
                color:#FAFAFA;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin:0px;
                background-color: #171614;
                width: 100%;


}

div{
            margin: 50px;
            width: auto;

}
label {
                        color:#FAFAFA;
                        width: 100%;

                        padding: 0px 30px 0px 30px;
                        font-size: 30px;
}

input{
                    padding: 10px;
                    width: 500px;
                    font-size: 30px;


}

select{
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 300;
                    text-align: center;

                    font-size: 25px;
                    color:#171614;

}

input {
                    display: inline-block;


}

.botones {
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 700;
                    text-align: center;
                    padding: 50px 50px 10px 50px;
                    font-size: 64px;
                    color:#FAFAFA;     



}

input[type="submit"] {
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: 700;
                        text-align: center;
                        border-color: #FAFAFA;
                        font-size: 30px;
                        color:#FAFAFA;
                        background-color: #171614;

}

input[type="submit"]:hover {

    color:#1FA5DF;


}

input[type="reset"] {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    border-color: #FAFAFA;
    font-size: 30px;
    color:#FAFAFA;
    background-color: #171614;

}

input[type="reset"]:hover {

    color:#1FA5DF;


}

.formulario-mensaje{
                        display: flex;
                        flex-direction: column;

}

footer {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    background-color: #171614;
    text-align: center;


}
footer p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40x;
    text-align: center;
    margin: 50px;


    color: #FAFAFA;

}

footer i {
    font-size: 40px;
    color: #FAFAFA;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 1px;
    border-radius: 100%;

}

footer i:hover{
            color:#1FA5DF;
            border-color:#1FA5DF;


}

@media only screen and (min-width: 300px) and (max-width: 900px){



    .grid{
            display:grid;
            grid-template-columns: 1fr;

    }

    header{
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;


}


    .barra {

        text-align: center;
        display:flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .barra div {
        text-align: center;
        width: auto;
    }

    .formulario{

                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 20px;
                    height: auto;

    }

    input{
                    width: 200px;
    }

    label {
                        font-size: 20px;

    }

    .checkbox{
                    width: 50px;

    }

    textarea{
                            width: 100%;
                            height: 10%;

    }

    div{
                margin: 30px;


    }

}
*/

/*# sourceMappingURL=contact-styles.css.map */
