*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}

header{
        /*background-color: #171614;*/
        padding: 10px;
        background-color: #171614;

}


.barra li a{
        color: #FAFAFA;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
}

.barra li a:hover {
            transition: color 0.15s;

            color: #1FA5DF;


}



.portadas{
            background-color: #171614;
            padding: 50px 50px;

}

.portadas h1{
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 700;
                text-align: center;
                padding: 50px 50px 50px 50px;
                font-size: 64px;
                color:#FAFAFA;

}



.albumes a{
   
    text-decoration: none;
    

}
.album-titulo h3{

    
       
        font-size: 100px;
        padding: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        

}



.album-historia{
    
        
        font-size: 30px;
        padding: 30px 30px 30px 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-align:justify;
        color: #FAFAFA;
        background-color: #171614;
      

}

.album-historia-listen{
            margin: 50px 50px 0px 0px;
            

}
.album-historia-listen i {
            text-align: center;
            margin: 50px;        
            font-size: 70px;
            

}
.album-portada{
        background-image: url(../Multimedia/R-7146388-1435015803-9119.jpg);
        background-position: center;
       background-size: contain;
       

        
}

.album-portada2{
    background-image: url(../Multimedia/81Ngj3VGcjL._AC_SL1500_.jpg);
    background-position: center;
   background-size: contain;
   
   

    
}

.album-titulo2{
                    background-color: #171614;

}

#titulo-VOF{
                        background-color: #171614;
                        color: #e6e6e6;
}

.tracklist h3{
    
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color:#171614; 

}


        .cancion-titulo{
            
            font-size: 20px;
            padding: 30px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            


        }


.cancion{
           
            background-color: #e6e6e6;
            height:75px;
            
            overflow: hidden;
            margin: 20px 0px;
            
            
            font-size: 24px;
            


}

.cancion:hover{
    transition: 2.7s;
    height: auto;
    

}

.parallax.imagen1 {
    background-image: url(../Multimedia/imgID31773617.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
.parallax.imagen2 {
    background-image: url(../Multimedia/471b1269-49e9-4d14-989b-2c85883cc973.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
.banerparallax1-contenedor {
    max-width: auto ;
    margin: auto;
    
}

.banner.parallax{
    
    height: 500px;


}


.cancion-letra {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 50px 50px 50px 50px;
    
    text-align: justify;

}

.cancion-info{
                
                text-align: right;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 300;
                padding: 0px 50px 0px 0px

}

.footer{
    background-color: #171614;

}

.footer p {
font-family: 'Josefin Sans', sans-serif;
font-size: 40x;
margin-top: 150px;
color: #FAFAFA;

}

.footer i {
font-size: 40px;
color: #FAFAFA;
text-align: center;



}

.footer i:hover{
        color: #1FA5DF;

}
/*
.cancion-info h1{ 
                 font-size: 50px;
                 margin: 50px 0px 0px 20px;


}
.cancion-info p{
                margin: 0px 0px 50px 20px;
                font-size: 30px;

}

.cancion:hover{
            height: 1500px;
            

}



footer {
    min-height: 200px;
    width: 100%;
    background-color: #171614;
    text-align: center;
    position: relative;

}
footer p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40x;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 0px;
    right: 0px;
    margin: auto;
   
    color: #FAFAFA;

}

footer i {
    font-size: 40px;
    color: #FAFAFA;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-style: solid;
    border-color: #FAFAFA;
    border-width: 1px;
    border-radius: 100%;
    
}

footer i:hover{
    color:#1FA5DF;
    transition: all 0.15s;
    border-color: #1FA5DF;;


}

*/