header{
            background-color: #171614;
}

.portadas{
            background-color: #171614;
            padding: 50px 50px;

}

.portadas h1{
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 700;
                text-align: center;
                padding: 50px 50px 50px 50px;
                font-size: 64px;
                color:#FAFAFA;

}



.albumes a{
   
    text-decoration: none;
    

}

.album-titulo{
                    background-color: #171614;

}
.album-titulo h3{

    
    
        font-size: 100px;
        padding: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        color: #FAFAFA;
        

}



.album-historia{
    
        
        font-size: 30px;
        padding: 30px 30px 30px 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-align:justify;
        color: #FAFAFA;
        background-color: #171614;
      

}

.album-historia-listen{
            margin: 50px 50px 0px 0px;
            

}
.album-historia-listen i {
            text-align: center;
            margin: 50px;        
            font-size: 70px;
            

}
.album-portada{
        background-image: url(../Multimedia/R-7146388-1435015803-9119.jpg);
        background-position: center;
       background-size: contain;
       

        
}

.album-portada2{
    background-image: url(../Multimedia/81Ngj3VGcjL._AC_SL1500_.jpg);
    background-position: center;
   background-size: contain;
   
   

    
}

.album-titulo2{
                    background-color: #171614;

}

#titulo-VOF{
                        background-color: #171614;
                        color: #e6e6e6;
}

.tracklist h3{
    
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color:#171614; 

}


        .cancion-titulo{
            
            font-size: 20px;
            padding: 30px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            


        }


.cancion{
           
            background-color: #e6e6e6;
            height:75px;
            
            overflow: hidden;
            margin: 20px 0px;
            
            
            font-size: 24px;
            


}

.cancion:hover{
    transition: 2.7s;
    height: auto;
    

}

.parallax.imagen1 {
    background-image: url(../Multimedia/imgID31773617.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
.parallax.imagen2 {
    background-image: url(../Multimedia/471b1269-49e9-4d14-989b-2c85883cc973.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
.banerparallax1-contenedor {
    max-width: auto ;
    margin: auto;
    
}

.banner.parallax{
    
    height: 500px;


}


.cancion-letra {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 50px 50px 50px 50px;
    
    text-align: justify;

}

.cancion-info{
                
                text-align: right;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 300;
                padding: 0px 50px 0px 0px

}

