*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
    
   
   
}


header{
    /*background-color: #171614;*/
    padding: 10px;

}




.barra li a{
    color: #FAFAFA;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.barra li a:hover {
    transition: color 0.15s;

    color: #1FA5DF;


}

.barra li a:hover {
    transition: color 0.15s;

    color: #1FA5DF;


}

body {
        background-color: #171614;

}


.galeria{
                height: 50%;
                
                margin-top: 50px;

}

.imagen{
                height: 150px;

}
.item1{
            background-image: url(../Multimedia/concierto-wolf-alice-3-noviembre-barcelona_img_1467618.jpeg);
            background-position: center;
            background-size:cover;

}
.item2{
            background-image: url(../Multimedia/wolf_alice_concert_deluxe_old_national_indianapolis_2022-47-2.jpg);
            background-position: center;
            background-size:cover;

}
.item3{
            background-image: url(../Multimedia/edcd03cdd2a74f059e2433867a264489.jpeg);
            background-position: center;
            background-size:cover;

}
.item4{
            background-image: url(../Multimedia/Wolf-Alice-Cover.jpg);
            background-position: center;
            background-size:cover;

}
.item5{
            background-image: url(../Multimedia/WA_Dork_JonoWhite_5.jpg);
            background-position: center;
            background-size:cover;

}
.item6{
            background-image: url(../Multimedia/Wolf-Alice-1200x753.jpg);
            background-position: center;
            background-size:cover;

}
.item7{
            background-image: url(../Multimedia/ELLIE-AND-JOFF-NTC-1068x606.jpg);
            background-position: center;
            background-size:cover;
            
}
.item8{
            background-image: url(../Multimedia/453A7294.jpg);
            background-position: center;
            background-size:cover;

}
.item9{
            background-image: url(../Multimedia/DSC_1845.jpg);
            background-position: center;
            background-size:cover;

}
.item10{
            background-image: url(../Multimedia/wolfalice1.jpg);
            background-position: center;
            background-size:cover;

}
.item11{
            background-image: url(../Multimedia/wolf-alice.jpg);
            background-position: center;
            background-size:cover;

}
.item12{
            background-image: url(../Multimedia/in-photos-wolf-alice-o2-academy-bristol-12.jpg);
            background-position: center;
            background-size:cover;

}
.item13{
            background-image: url(../Multimedia/WolfAlice3.jpg);
            background-position: center;
            background-size:cover;

}


.footer{
    margin-top: 200px;
    background-color: #171614;

}

.footer p {
font-family: 'Josefin Sans', sans-serif;
font-size: 40x;
margin-top: 150px;
color: #FAFAFA;

}

.footer i {
font-size: 40px;
color: #FAFAFA;
text-align: center;



}

.footer i:hover{
        color: #1FA5DF;

}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
    .galeria{
        height: 200%;
        padding: 0px;
        margin-top: 50px;

}

}