.fondo {
  height: 70rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(24, 24, 24), rgba(15, 15, 15, 0.87), rgba(15, 15, 15, 0.37)), url(../Multimedia/IMG_5171.jpg);
}

.boton-inicio {
  border-color: #FAFAFA;
  border-radius: 0%;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding: 1rem 2rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 2 rem;
  margin-top: 30px;
}

.boton-inicio:hover {
  background-color: #FAFAFA;
  color: #171614;
  border-color: #FAFAFA;
}

.inicio {
  height: 1050px;
}
.inicio h1 {
  color: #FAFAFA;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.inicio-titulo {
  margin-top: 100px;
}

.noticia-texto a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #171614;
  text-decoration: none;
}
.noticia-texto a a:hover {
  transition: color 0.15s;
  color: #1FA5DF;
}

.card {
  border-radius: 2%;
}

.noticia {
  transition-property: transform;
  transition-duration: 1s;
}

.noticia:hover {
  transform: translateY(-30px);
}

.news {
  margin-bottom: 50px;
}

.titulo-news {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #171614;
}

.card-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #171614;
}

.titulo-members {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #171614;
}

.titulo-tour {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #FAFAFA;
}

.tour {
  margin-top: 30px;
  background-color: #171614;
  padding: 0px;
}

table {
  padding: 50px 50px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #FAFAFA;
}
table td {
  color: #FAFAFA;
  width: auto;
  padding: 10px;
  text-align: left;
  display: block;
}
table td a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #FAFAFA;
  text-align: left;
  display: block;
}
table td a:hover {
  transition: color 0.15s;
  color: #1FA5DF;
  text-decoration: none;
}
table tr {
  color: #FAFAFA;
  margin: 50px;
  text-align: left;
  display: block;
}

.card {
  border: 0px;
  box-shadow: 0 0 17px -12px;
  border-radius: 0%;
}

.card-header {
  background-color: white;
  border-bottom: 0px;
}

.card-members {
  margin: 30px;
}

.members {
  margin-bottom: 50px;
}
.members h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  color: #171614;
}
.members h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  color: #171614;
}

.footer p {
  margin: 70px;
}
.footer a {
  margin: 50px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .card-members {
    margin: 30px 100px;
  }
  .card-members h1 {
    font-size: 60px;
  }
  .footer p {
    margin: 70px;
  }
  .footer a {
    margin-right: 50px;
    margin-left: 50px;
  }
  .footer p {
    margin: 70px;
  }
  .footer a {
    margin-right: 50px;
    margin-left: 50px;
  }
}
/*ul{
            align-items: center;
            justify-content:right

}
*/

/*# sourceMappingURL=styles-home.css.map */
