$colorblue: #1FA5DF;
$colorblack: #171614;
$colorwhite: #FAFAFA;
$font: 'Josefin Sans',
sans-serif;

@mixin titulo-secciones () {

    font-family: $font;
    font-weight: 700;
    font-size: 50px;
    color: $colorblack;

}



.fondo {
    height: 70rem;
    width: 100%;


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(24, 24, 24), rgba(15, 15, 15, 0.87), rgba(15, 15, 15, 0.37)), url(../Multimedia/IMG_5171.jpg);

}

.boton-inicio {
    border-color: $colorwhite;
    border-radius: 0%;
    background-color: transparent;
    font-family: $font;
    font-weight: 300;
    padding: 1rem 2rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 2 rem;
    margin-top: 30px;


}

.boton-inicio:hover {
    background-color: $colorwhite;
    color: #171614;
    border-color: #FAFAFA;
    

}

.inicio {
    height: 1050px;


    h1 {
        color: $colorwhite;
        font-family: $font;
        font-weight: 300;

    }
}

.inicio-titulo {
    margin-top: 100px;

}

.noticia-texto {

     a {
        font-family: $font;
        font-weight: 700;
        color: $colorblack;
        text-decoration: none;

        a:hover{
            transition: color 0.15s;
            color: #1FA5DF;

        }



    }

}

.card {
    border-radius: 2%;


}

.noticia{

                transition-property: transform;
                transition-duration: 1s;

}

.noticia:hover{

                transform: translateY(-30px);

}



.news {
    margin-bottom: 50px;

}

.titulo-news {

    @include titulo-secciones;
}

.card-subtitle {
    font-family: $font;
    font-weight: 300;
    font-size: 20px;
    color: $colorblack;

}

.titulo-members {
    @include titulo-secciones;
}

.titulo-tour {
    font-family: $font;
    font-weight: 700;
    font-size: 50px;
    color: $colorwhite;

}

.tour {
    margin-top: 30px;
    background-color: $colorblack;
    padding: 0px;


}


table {
    padding: 50px 50px;
    font-size: 30px;
    font-family: $font;
    color: $colorwhite;


   

    td {
        color: $colorwhite;
        width: auto;
        padding: 10px;
        text-align: left;
        display: block;
        
        a {

            font-family: $font;
            font-weight: 700;
            text-decoration: none;
            color: $colorwhite;
            text-align: left;
            display: block;
        }

        a:hover{
            transition: color 0.15s;
            color: #1FA5DF;
            text-decoration: none;
        }

    }

    tr {
        color: $colorwhite;
        margin: 50px;
        text-align: left;
        display: block;

    }
}

.card {
    border: 0px;
    box-shadow: 0 0 17px -12px;
    border-radius: 0%;





}

.card-header {
    background-color: white;
    border-bottom: 0px;

}

.card-members {
    margin: 30px;

}

@mixin titulo-cards($font-size){
    font-family: $font;
    font-weight: 700;
    text-align: center;
    font-size: $font-size;
    color: $colorblack;

}

.members {
    margin-bottom: 50px;


    h1 {
        @include titulo-cards(50px);

    }

    h2 {

        @include titulo-cards(20px);

    }
}






.footer {
    p {
        margin: 70px;

    }

    a {


        margin: 50px;
        
    }



}

@media only screen and (min-width: 576px) and (max-width: 768px){

    .card-members{

                margin: 30px 100px;

                h1{
                    font-size: 60px;
                }

    }

    .footer {
    p {
        margin: 70px;

    }

    a {



        margin-right: 50px;
        margin-left: 50px;
    }



}

}

 



/*ul{
            align-items: center;
            justify-content:right

}
*/